.card-pianta{
	border-color: #3BB273 !important;
	background: #3BB273 !important;
	margin: unset !important;
}
.card-evento{
	border-color: #8275b5 !important;
	background: #8275b5 !important;
	margin: unset !important;
	font-size: 0.9rem !important;
}
.container-scheda-pianta li:nth-child(odd){
	background: #84BC9C;
}
.container-scheda-pianta li:nth-child(even){
	background: #86DEB7;
}
.container-scheda-evento li:nth-child(odd){
	background: #A7ACD9;
}
.container-scheda-evento li:nth-child(even){
	background: #B5BAD0;
}
.pointer{
	color:  #212529;
	cursor: pointer;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pointer:hover{
	color: #BBD8B3;
}
.elemento {
	padding-bottom: 0.5%;
}
.btn-purple{
	color: #fff !important;
	background-color: #bc8f8f !important;
	border-color: #bc8f8f !important;
}
.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker__input-container input:disabled, .form-control[readonly], input:disabled {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}

input:disabled div:before {
    background-color: #e9ecef !important;
    opacity: 1 !important;
}

.header-label {
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1.5;
}

.form-inline {
  .react-datepicker__input-container {
    width: auto !important;
    display: inline !important;
  }
}
.right {
  float: right !important;
}
.btn-group-xs > .btn, .btn-xs {
  padding  : .25rem .3rem;
  font-size  : .875rem;
  line-height  : 1;
  border-radius : .2rem;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-body {
    padding: none !important;
}
